# GROUP C

# DATA ANALYSIS OF UACE RESULTS 2011-2015

In [4]:
################ CRONNIE ################

# import pandas
import pandas as pd
import warnings
from IPython.core.display import display, HTML

# Suppressing warnings (optional)
warnings.filterwarnings('ignore')

In [5]:
# Styles for tables to be used in the notebook
# custom CSS styles for tables
table_styles = """
<style>
    /* Change background color of header row */
    th {
        background-color: #2c3e50;
    }
    /* Change background color of even rows */
    tr:nth-child(even) {
        background-color: #34495e;
    }
    /* Change background color of odd rows */
    tr:nth-child(odd) {
        background-color: #2c3e50;
    }
    /* Change text color of all cells */
    td {
        color: white;
    }
</style>
"""

# Apply the custom CSS styles to the table
display(HTML(table_styles))

## Data Cleaning

In [6]:
# read csv file
results_df = pd.read_csv("./UaceResults2011-2015.csv")

results_df.head(5)

,District_Name,SCHOOL,Gender,2011 Total,%0-5 Points,%6-10 Points,%11-15 Points,%16-20 Points,%21-25 Points,2012 Total,...,2014 Total,%0-5 Points.3,%6-10 Points.3,%11-15 Points.3,%16-20 Points.3,2015 Total,%0-5 Points.4,%6-10 Points.4,%11-15 Points.4,%16-20 Points.4
0,AMUDAT,POKOT SECONDARY SCHOOL,FEMALE,NaN,0.0,0.0,0.0,0.0,0.0,3.0,...,2.0,50.0,0.0,50.0,0.0,1,0.0,0.0,100.0,0.0
1,AMUDAT,NaN,MALE,NaN,0.0,0.0,0.0,0.0,0.0,8.0,...,9.0,55.6,44.4,0.0,0.0,4,25.0,50.0,25.0,0.0
2,AMUDAT Total,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,11.0,...,11.0,54.5,36.4,9.1,0.0,,20.0,40.0,40.0,0.0
3,PADER,ARCHBP.FLYNN SECONDARY SCHOOL,FEMALE,NaN,0.0,0.0,0.0,0.0,0.0,NaN,...,NaN,0.0,0.0,0.0,0.0,14,21.4,42.9,35.7,0.0
4,PADER,NaN,MALE,NaN,0.0,0.0,0.0,0.0,0.0,NaN,...,NaN,0.0,0.0,0.0,0.0,22,40.9,50.0,9.1,0.0

In [7]:
# discover null rows
print(results_df.isnull().sum())

District_Name         0
SCHOOL             1959
Gender              114
2011 Total         1240
%0-5 Points           0
%6-10 Points          0
%11-15 Points         0
%16-20 Points         0
%21-25 Points         0
2012 Total          985
%0-5 Points.1         0
%6-10 Points.1        0
%11-15 Points.1       0
%16-20 Points.1       0
%21-25 Points.1       0
2013 Total          553
%0-5 Points.2         0
%6-10 Points.2        0
%11-15 Points.2       0
%16-20 Points.2       0
2014 Total          358
%0-5 Points.3         0
%6-10 Points.3        0
%11-15 Points.3       0
%16-20 Points.3       0
2015 Total          295
%0-5 Points.4         0
%6-10 Points.4        0
%11-15 Points.4       0
%16-20 Points.4       0
dtype: int64

In [8]:
# Change school totals for schools with no students in a particular year to zeros
zero_school_total_columns = ['2011 Total', '2012 Total', '2013 Total', '2014 Total', '2015 Total']

results_df[zero_school_total_columns] =results_df[zero_school_total_columns].fillna(0.0)

In [9]:
# discover current null rows
print(results_df.isnull().sum())

District_Name         0
SCHOOL             1959
Gender              114
2011 Total            0
%0-5 Points           0
%6-10 Points          0
%11-15 Points         0
%16-20 Points         0
%21-25 Points         0
2012 Total            0
%0-5 Points.1         0
%6-10 Points.1        0
%11-15 Points.1       0
%16-20 Points.1       0
%21-25 Points.1       0
2013 Total            0
%0-5 Points.2         0
%6-10 Points.2        0
%11-15 Points.2       0
%16-20 Points.2       0
2014 Total            0
%0-5 Points.3         0
%6-10 Points.3        0
%11-15 Points.3       0
%16-20 Points.3       0
2015 Total            0
%0-5 Points.4         0
%6-10 Points.4        0
%11-15 Points.4       0
%16-20 Points.4       0
dtype: int64